In [28]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os, glob
filenames_list = []
for dirname, _, filenames in os.walk('./'):
    for filename in filenames:
        print(os.path.join(dirname, filename))
    filenames_list = filenames

./2010.csv
./2011.csv
./2012.csv
./2013.csv
./2014.csv
./2015.csv
./2016.csv
./2017.csv
./2018.csv
./2019.csv
./2020.csv
./2021.csv
./Code.ipynb
./.ipynb_checkpoints\Code-checkpoint.ipynb

In [42]:
# df1 = pd.read_csv(filenames[1])
# df1 = pd.read_csv("./2011.csv")

all_files = glob.glob("*.csv")
print(all_files)
df_list = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    print(df.shape)
    df_list.append(df)

frame = pd.concat(df_list, axis=0, ignore_index=True)
print()
print(frame.shape)

['2010.csv', '2011.csv', '2012.csv', '2013.csv', '2014.csv', '2015.csv', '2016.csv', '2017.csv', '2018.csv', '2019.csv', '2020.csv', '2021.csv']
(1, 39)
(27, 39)
(313, 39)
(737, 39)
(923, 39)
(1253, 39)
(2000, 39)
(3167, 39)
(2285, 39)
(8312, 39)
(11717, 39)
(12339, 39)

(43074, 39)

In [37]:
frame.head()

,Unnamed: 0,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,0,15434727182,15434727182,1.275676e+12,2010-06-04 18:31:57,0,NaN,"Please ignore prior tweets, as that was someon...",en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,0,152153637639028736,152151847614943233,1.325111e+12,2011-12-28 22:27:08,0,NaN,@TheOnion So true :),en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,1,151809315026636800,151809315026636800,1.325029e+12,2011-12-27 23:38:55,0,NaN,If you ever wanted to know the *real* truth ab...,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,2,151338939389706242,151338939389706242,1.324917e+12,2011-12-26 16:29:50,0,NaN,Walked around a neighborhood recently rebuilt ...,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,3,151337237429239808,151337237429239808,1.324917e+12,2011-12-26 16:23:04,0,NaN,"It was Xmas, so we brought presents for the ki...",en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [44]:
frame.columns

Index(['Unnamed: 0', 'id', 'conversation_id', 'created_at', 'date', 'timezone',
       'place', 'tweet', 'language', 'hashtags', 'cashtags', 'user_id',
       'user_id_str', 'username', 'name', 'day', 'hour', 'link', 'urls',
       'photos', 'video', 'thumbnail', 'retweet', 'nlikes', 'nreplies',
       'nretweets', 'quote_url', 'search', 'near', 'geo', 'source',
       'user_rt_id', 'user_rt', 'retweet_id', 'reply_to', 'retweet_date',
       'translate', 'trans_src', 'trans_dest'],
      dtype='object')

In [56]:
#Q1
avg_likes = round(frame['nlikes'].mean())
avg_likes

14705

In [60]:
#Q2
avg_replies = round(frame['nreplies'].mean())
avg_retweets = round(frame['nretweets'].mean())

sum_avg = avg_likes+avg_replies+avg_retweets
avg_view = sum_avg/0.05
avg_view

338860.0

In [77]:
#Q3
# Based on https://postcron.com/en/blog/social-media-image-dimensions-sizes/
# 
# I assume average photo size to be 0.2 MB, and average video size to be 3MB.
avg_tweet_size = round(frame['tweet'].str.len().mean())
avg_tweet_size
# content avg_tweet_size = 92 bytes = 9.2e-5 MB

92

In [90]:
photo_cell_len = frame['photos'].apply(len)
# number of tweets with photos
nphotos = photo_cell_len[photo_cell_len>2].count()
nphotos

In [91]:
# number of tweets with videos
video_col = frame['video']
nvideos = video_col[video_col>0].count()
nvideos

2807

In [88]:
frame.shape[0]

43074

In [93]:
avg_amount_data = avg_tweet_size*10**-5 + (nphotos*0.2+nvideos*3)/frame.shape[0]
avg_amount_data

0.2084976570553002

In [95]:
#Q4
total_avg_data = avg_amount_data *avg_view
total_avg_data

70651.51606975903

In [97]:
#Q5
# Based on https://www.statista.com/statistics/282087/number-of-monthly-active-twitter-users/#:~:text=As%20of%20the%20first%20quarter,daily%20active%20users%20(mDAU)
# I assume Twitter averaged 330 million monthly active users
total_views  = avg_view * frame.shape[0]
total_views

14596055640.0

In [98]:
#total minutes in 11 years
total_min = 11 * 365*24*60
total_min

5781600

In [99]:
view_per_min = total_views/total_min
view_per_min

2524.570298879203

In [101]:
#Q6
# assume 10 tweets are displayed to a user per view
total_data_per_min = view_per_min * avg_amount_data *10
total_data_per_min

5263.669923877129

In [ ]:
#Q7
# I believe only the nlikes needs to be updated, and each update itself is 1 byte
# thus, 
data_involves = view_per_min*30*24*60
data_involves